.forums {
  background-color: #ece8e1;
  padding: 5px 15px;
}

.forum__item3 {
  padding: 10px 10px 10px 10px;
  flex-grow: 1;
}

.forum__img {
  background-color: #242a49;
  border: 5px #242a49;
  border-radius: 100px;
  box-shadow: #000 2px 2px 1px;
  height: 114px;
  padding: 5px;
  width: 110px;
}