.container-parent {
  background-color: #fffffb;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
  border-radius: 5px;
  margin-bottom: 25px;
}

.container-parent__name {
  background-color: #0bc4e2;
  padding: 10px;
  text-transform: capitalize;
}

.container-parent__body {
  padding: 10px 10px 5px 10px;
}

.container-child {
  display: flex;
  background: #F2F2F2;
  border: 1px solid #EEE!important;
  border-radius: 3px;
  margin-bottom: 10px;
}


.forum__topic-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px 0px 10px;
}