.topic {
  background-color: #fffffb;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
  border-radius: 5px;
  margin-bottom: 25px;
}


.user-container {
  width: 200px;
  text-align: center;
}

.post__main {
  flex-grow: 1;
  border-left: 1px solid lightgrey;
}

.post__head {
  border-bottom: 1px solid lightgrey;
  padding: 3px 10px 3px 10px;
}

.post__body {
  padding: 3px 10px 3px 10px;
}