* {
  box-sizing: border-box;
}

/* Head */
body {
  margin: 0;
  font-family: "Inter-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Grouping */
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

ul {
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

/* Text-level */
a {
  color: #000000;
  text-decoration: none;
}


/* Holy Grail Layout */
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex-grow: 1;
}


/* main {
  background-color: #ece8e1;
} */
.main__head {
  /* background-color: #0bc4e2; */
  background-color: #1a1c23;
  color: #fffffb;
  font-family: 'Inter-Bold';
  font-size: 24px;
  padding: 10px;
  text-transform: capitalize;
}

#post-create-page__form {
  background-color: #ece8e1;
  padding: 10px;
}


/* UserPage */
.UserPage { 
  padding: 20px;
}

.UserNavbar {
  width: 300px;
  background-color: #fffffb;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
  border-radius: 5px;

  padding: 20px;
  text-align: center;
}

.UserNavbar li:hover {
  cursor: pointer;
  font-family: "Inter-Bold";
}
.UserNavbar a.active {
  font-family: "Inter-Bold";
}

.UserPanel {
  background-color: #fffffb;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
  border-radius: 5px;
  flex-grow: 1;
  margin-left: 25px;
}

.user-panel_head {
  /* background-color: #0bc4e2; */
  padding: 10px;
  background-color: #1a1c23;
  color: #fffffb;
  font-family: 'Inter-Bold';
  font-size: 24px;
  text-transform: capitalize;
}

.user-panel_body {
  padding: 0px 10px 0px 10px;
}

.AccountOverview {
  background: #F2F2F2;
  display: flex;
}

.user-container__avatar {
  width: 150px;
}





/* Blizzard Skin */

body {
  background: url(https://d3mle2j3as33lk.cloudfront.net/en/blizzard/plugins/discourse-blizzard-themes/images/backgrounds/blizzard/top.jpg) center -200px no-repeat,url(https://d3mle2j3as33lk.cloudfront.net/en/blizzard/plugins/discourse-blizzard-themes/images/backgrounds/blizzard/repeat.jpg) center -200px repeat-y;
    background-color: #012750;
}
.nav__logo {
  color: #fffffb !important;
}
.nav__item {
  color: #fffffb !important;
}

.nav__item::after {
  background: #fffffb !important;
}



/* Footer */
.footer {
  background-color: #0a4275;
  text-align: center;
  color: white;
}
.footer-container {
  padding: 1.5rem!important;
  display: flex;
  justify-content: center;
}
.footer-item1 {
  width: 400px;
}
.footer-item1 p {
  text-align: justify;
}
.footer-item2 {
  width: 300px;
}
.footer-item3 {
  width: 300px;
}

.footer-bottom {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.UsersPage {
  color: white;
  padding-bottom: 20px;
}
.UsersPage__user {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 10px;
  margin-bottom: 5px;
}
.users-page__item1 {
  width: 100px;
}

.GroupsPage {
  color: white;
  padding-bottom: 20px;
}